name: Service Implementatio
on:
  push:


jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_DB: testdb
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpassword
        ports:
          - 5432:5432

    steps:
      - name: Wait for PostgreSQL to be ready
        run: |
          while ! nc -z localhost 5432; do
            sleep 1
          done
      - name: Confirm PostgreSQL availability
        run: echo "PostgreSQL is ready!"
